# Minimal sample — adjust addresses/paths for your environment.
# Validate with: haproxy -c -f examples/ip-reputation/haproxy.cfg

global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend www
    bind *:8080
    filter spoe engine ip-reputation config /usr/local/etc/haproxy/spoe-ip-reputation.conf
	http-request set-header x-ip-rep %[var(txn.iprep.ip_score)]
    default_backend http-servers

backend http-servers
    server http echo-server:8080

backend iprep-servers
    mode tcp
    timeout connect 5s
    timeout server  3m
    server iprep1 iprep-agent:3000
